<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- <link href="static/css/bootstrap.css" type="text/css" rel="stylesheet"/>-->
<link href="static/css/styles.css" type="text/css" rel="stylesheet"/>
<title>Fantasy Recommendation System</title>
<script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>

<link href='http://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css'>
<link href="static/css/visualization.css" rel="stylesheet" type="text/css">
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/bootstrap.js"></script>
<script src="static/js/d3.v3.js"></script>
<script src="static/js/visualization.js"></script>
</head>
<body>
	<header>
		Fantasy Football
	</header>
	<img src="static/images/NflLogo.png" id="logo">
	<div style="display:block;" id="mainTeamPage">
		<section name="week" id="week" style="display:none;">
			<select>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
				<option value="4">Four</option>
				<option value="5">Five</option>
				<option value="6">Six</option>
				<option value="7">Seven</option>
				<option value="8">Eight</option>
				<option value="9">Nine</option>
				<option value="10">Ten</option>
				<option value="11" selected>Eleven</option>
				<option value="12">Twelve</option>
				<option value="13">Thirteen</option>
				<option value="14">Fourteen</option>
				<option value="15">Fifteen</option>
				<option value="16">Sixteen</option>
			</select>	
		</section>
		<div id="team">
			<div id="second" >
				<div id="quarterbacks" class="nflpos"><header class="positionHeader">Quaterbacks</header></div>
				<div id="runningbacks" class="nflpos"><header class="positionHeader">Running Backs</header></div>

			</div>
			<div id ="first">
				<div id="receivers" class="nflpos"><header class="positionHeader">Wide Receivers</header></div>
				<div id="tightends" class="nflpos"><header class="positionHeader">Tight Ends</header></div>
			</div>

			<div id="third">
							</div>	
			<!-- <div id="fourth">
				<div id="defense"><header class="positionHeader"></header></div>
				<div id="kicker"><header class="positionHeader"></header></div>
			</div> -->
				<!-- <section class="stats">
					<table>
						<tr>
							<th>Stats</th>
						</tr>
						<tr>
							<td>R. Yds</td>
							<td>3</td>
						</tr>
						<tr>
							<td>P. Yds</td>
							<td>5</td>
						</tr>					
					</table>
				</section>
				<section class="action">
					<img src="static/images/Thumbs-Up.jpg">
				</section> -->
		</div>
	</div>
	<div id="comparePlayers" style="display:block;"></div>

</body>
</html>